.block0 {
  background:#ccc;
  margin:0px;
  width: 300px;
 
}
.block {
  background:#ccc;
  margin:0px;
  width: 300px;
}


.block1 {
  background:#ccc;
  margin:0px;
  width: 300px;
}